#tab {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

ul#tab > li {
  flex: 1;
  display: block;
  text-align: center;
  padding: 1em 0;
  border: black solid 1px;
  background: #efefef;
}